.whole-footer{

    color: rgb(104, 104, 104);
    font-family: "Roboto";
    min-height: 200px;
    margin-top: 200px;
    text-align: center;
}

.text-block{
    
}

.contacts{
    font-size: 15px;
    margin-bottom: 120px;

}

.credits{
    position: absoloute;
    bottom: 10px;
}