.whole-footer{

    background-color: #16a9c7;
    color: white;
    font-family: "Roboto";
    min-height: 400px;
    text-align: center;
    box-shadow: inset 0 0 100px black; /*efeito vinheta*/
}

.text-block{

}

.contacts{


}

.credits{


}