.whole-footer{

    color: rgb(104, 104, 104);
    font-family: "Roboto";
    min-height: 200px;
    margin-top: 300px;
    text-align: center;
}

.text-block{
    
}

.contacts{


}

.credits{
    position: absoloute;
    bottom: 10px;
}