/*resetar o documento*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.main{
    width: 100%;
    min-height:400px;
    padding-top: 40px;
    color: rgb(104, 104, 104);
}

.home-txt{
    min-width: 300px;
    font-family: 'Roboto';
    font-style: normal;
    margin: 50px;
    float: left;
}

.greetings{
    
}

.name{
    color: #16a9c7;
    font-weight: bold;
    font-size: 80px;
}

.description{
    font-size: 25px;
}

.animation{
    background-color: aqua;
    max-width: 600px;
    min-width: 300px;
    display: flex;
    position: relative;
    margin-left: auto; /*joga a animação para a direita*/
}