.card-box{
    flex-direction: column;
    font-family: 'Roboto';
}

.title-reasons{
    color: white;
}

.reasons{
    flex-direction: row;
    width: 100%;
}

.single-reason{
    flex-direction: row;
    float: left;
}
