.card-box{
    flex-direction: column;
}

.title-reasons{
    background-color: black;
    color: white;
}

.reasons{
    flex-direction: row;
    width: 100%;
    background-color: teal;
    align-content:space-between;
}

.single-reason{
    width: 30%;
}
