.portfolio-all{
    margin: 30px
}

.portf-card{
    min-width: 350px;
    width: 350px;
    margin: 30px;
    min-height: 200px;
}

.portf-title{
    text-align: center;
}


.portf-cards-container{
    display: flex;
    justify-content: center;
    margin: auto;
}

.portf-card-title{
}

.portif-txt{
    font-size: 15px;
}

.inside-card{
    opacity: 0;
    margin: 0;
    padding: 0 0 0 0;
    color: white;
}

.portif-card-img{
    min-height: 100%;
}

.portif-card-img:hover{
    box-shadow: inset 0 0 100px black; /*efeito vinheta*/
    background-color: rgb(0, 0, 80);
    transition: 0.4s;
    height: 100%;
}

.portif-card-img:hover .inside-card{
    opacity: 100%;
    transition: 0.4s;
}


.portif-btns{
    position: absolute;
    bottom: 20px;
}
