.portfolio-all{
    margin-top: 50px;
    margin-bottom: 50px;
}

.portf-title{
    text-align: center;
}


/*
.project-slides{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;

}

.carousel{
    max-width: 40%;
}
*/

.portf-cards-container{
    display: flex;
    justify-content: center;
    margin: auto;
}

.portf-card{
    min-width: 350px;
    margin: 30px;
}

.inside-card{
    opacity: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 0 0 0;
}

.portif-card-img:hover{
    box-shadow: inset 0 0 100px black; /*efeito vinheta*/
    transition: 0.4s;
  /* depois tentar colocar efeitos no inside-card:hover aqui dentro*/
}

.inside-card:hover{
    opacity: 100%;
    transition: 0.4s;
}

.portif-btns{
    position: absolute;
    bottom: 20px;
}
